@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.fade-in {
  animation: fadein 1s 1s both;
}

section.alien-house svg g#scene {
  opacity: 1;
  transition: opacity 0.25s;
}

section.alien-house svg:hover g#scene {
  opacity: 0.3;
}

div.label.is-visible {
  opacity: 1;
}

div.scene-layers img {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 700vh;
  max-width: none;
}

body {
  height: 11000px;
}

